.app-form-education-info {
    height: 22.4448%;
    border-bottom: 1px solid #C1C1C1;
    padding-bottom: 5.8%;
}

.app-form-textarea-education {
    width: 99.33%;
    height: 78%;
}

.app-form-buttons-last {
    display: flex;
    margin-top: 15.3%;
    height: 13.84%;
    justify-content: space-between;
}

